<!DOCTYPE html>
<html>
    <head>
        <title>张的博客</title>
    </head>
    <body>
        <div>
            <h1><a href="">这是我个人的博客</a></h1>
        </div>

        <div>
            <p>发表于: 2020.05.23  21:16</p>
            <h2><a href="">这是第一篇测试文章</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>发表于: 2020.05.23  21:18</p>
            <h2><a href="">这是第二个测试帖子</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>